:root {
  --input-border-radius: 5px;
  --input-padding: 5px;
}

.new-item-form {
  height: 100%;
  display: grid;
  align-items: center;
  text-align: start;
  width: 100%;
}

input {
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: 0;
  outline: none;
}

input[type="text"] {
  max-width: 125px;
  background: rgb(41 46 220 / 10%);
  border-bottom: 1px solid black;
}

input::placeholder {
  color: rgb(226, 226, 226);
}

.cancel-btn {
  margin-bottom: 15px;
  align-self: flex-end;
}

button {
  max-width: 150px;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: 0;
  outline: none;
}

button:active {
  box-shadow: inset 0 0 3px #000000;
}

label {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--xs-spacing);
  align-items: center;
}

label span {
  margin-right: var(--xs-spacing);
}

.form__submit-btn {
  justify-self: center;
  width: 100px;
}
