:root {
  --main-bg-color: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(153, 29, 253, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --header-footer-bg-color: linear-gradient(
    90deg,
    rgba(146, 58, 159, 0.75) 0%,
    rgba(233, 247, 54, 0.75) 50%,
    rgba(146, 58, 159, 0.75) 100%
  );

  --item-bg-color: rgb(53 0 40 / 22%);

  --item-carousel-border-radius: 20px;
  --xs-spacing: 5px;
  --s-spacing: 10px;
  --m-spacing: 15px;
  --l-spacing: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--main-bg-color);
}

div#root {
  height: 100%;
  margin: 0;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.link-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.5s;
}

.link-item:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.full-width {
  width: 100%;
}

.content {
  padding: 130px 40px 40px;
  flex: 1 0 auto;
}

.centered-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}
